.point {
    display: inline-block;
    transition: all 0.5s;
    border-radius: 50%;
    height: 12px;
    width: 12px;
}

.urgent {
    background-color: #F24A3C;
}

.important {
    background-color: #F7C920;
}

.normal {
    background-color: #56CCF2;
}

.neutral {
    background-color: #BBBBC7;
}
