.collapse, .menu {
    background-color: transparent;
}

.collapse {
    border: 0;
    margin-top: 10px;
    border-radius: 0;

    > .panel {
        border-bottom: 0;
    }
}

.panel {
    color: rgba(255, 255, 255, 1);
}

.header {
    font-weight: 600;
}

.menu {
    border-right: 0;
    color: currentColor;

    > .menuItem {
        &, &:not(:last-child) {
            margin: 0;
            padding: 0;
            color: currentColor;
        }
    }
}

.menuItemText {
    text-transform: capitalize;
}
