.sidebar {
    background: linear-gradient(14deg, #56CCF2, #2F80ED);
    padding: 28px 22px;
    min-width: 220px;
}

.logo {
    width: 95px;
}

.content {
    display: flex;
    flex: 1 1 auto;
    position: relative;
    flex-direction: column;
    padding: 40px 50px 28px;
}

.todoList {
    flex: 1 1 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.createForm {
    position: sticky;
    bottom: 0;
}
