.collapse {
    border: 0;
    border-radius: 0;
    background-color: transparent;

    & > .panel {
        font-size: 16px;
        border-bottom: 0;
        color: rgba(187, 187, 199, 1);
    }
}
