.input {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 1);
}

.input {
    &, &:hover, &:focus {
        border: 0;
        outline: 0;
        box-shadow: none;
        border-radius: 0;
        border-bottom: 1px solid rgba(187, 187, 199, 1);
    }

    &::placeholder {
        color: rgba(187, 187, 199, 1);
    }
}

.container {
    display: flex;
}

.fields {
    flex: 1;
    display: flex;
    align-items: center;

    > *:not(:last-child) {
        margin-right: 30px;
    }
}

.sendButton {
    font-weight: 600;

    &, &[disabled] {
        &, &:hover, &:focus {
            border: 0;
            outline: 0;
            padding-left: 0;
            padding-right: 0;
            box-shadow: none;
            background-color: transparent;
        }
    }

    &, &:hover, &:focus {
        color: rgba(47, 128, 237, 1);
    }

    &:after {
        animation: 0s;
    }
}
