.container {
    display: flex;
    padding: 15px 0;
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(187, 187, 199, 0.31);

    &:last-child {
        border-bottom: 0;
    }
}

.checkbox {
    margin-right: 25px;
}

.content {
    flex: 1;
}

.title, .textInput {
    font-size: 14px;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
}

.textInput {
    padding: 0;
    width: 100%;
    height: auto;
    cursor: text;
    margin-bottom: 15px;
    color: rgba(187, 187, 199, 1);
    background-color: transparent !important;
}

.textInput {
    &, &:hover, &:focus {
        border: 0;
        outline: 0;
        box-shadow: none;
        border-radius: 0;
    }

    &::placeholder {
        color: rgba(187, 187, 199, 1);
    }
}

.additionalInfo {
    display: flex;
    font-size: 12px;
}

.priority, .time, .notification {
    display: flex;
    align-items: center;
}

.priority {
    min-width: 130px;
}

.priorityLabel {
    margin-left: 10px;

    &:first-letter {
        text-transform: capitalize;
    }
}

.time, .notification {
    margin-left: 20px;
}

.timeIcon, .notificationIcon {
    height: 12px;
    margin-right: 10px;
    color: rgba(187, 187, 199, 1);
}

.actions {
    padding-right: 10px;
}

.deleteButton {
    &, &:hover, &:focus {
        border: 0;
        outline: 0;
        padding-left: 0;
        padding-right: 0;
        box-shadow: none;
        background-color: transparent;
    }

    &:after {
        animation: 0s;
    }
}

.deleteButtonIcon {
    color: rgba(242, 74, 60, 1);
}
