.button {
    top: 26px;
    z-index: 2;
    right: 26px;
    height: 30px;
    position: fixed;
    padding-top: 1px;

    &, &:hover, &:focus {
        border: 0;
        background: linear-gradient(18deg, #56CCF2, #2F80ED);
    }
}

.icon {
    color: rgba(255, 255, 255, 1);
}

.menuItem {
    font-size: 12px;
    font-weight: 600;
}
