@import '~antd/dist/antd.css';

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    flex: 1 1 auto;
}

.ant-collapse {
    > .ant-collapse-item {
        > .ant-collapse-header {
            padding-left: 0;
            border-bottom: 0;
            color: currentColor;
            display: inline-flex;

            .ant-collapse-arrow {
                left: 0;
                order: 2;
                margin-top: 0;
                transform: none;
                margin-left: 10px;
                position: relative;
                font-size: inherit;
                line-height: normal;

                svg {
                    // width: 100%;
                    height: 100%;
                    transform: rotate(90deg) !important;
                }
            }
        }

        > .ant-collapse-content {
            color: currentColor;

            > .ant-collapse-content-box {
                padding: 0;
            }
        }

        &-active {
            > .ant-collapse-header {
                .ant-collapse-arrow {
                    svg {
                        transform: rotate(-90deg) !important;
                    }
                }
            }
        }
    }

    &-borderless {
        > .ant-collapse-item {
            > .ant-collapse-content {
                border-radius: 0;
            }
        }
    }
}

.ant-menu {
    &:not(.ant-menu-horizontal) {
        .ant-menu-item {
            .ant-menu-item-text {
                position: relative;
                transition: 0.15s font-weight;

                &:after {
                    width: 100%;
                    bottom: 6px;
                    content: '';
                    height: 2px;
                    display: block;
                    visibility: hidden;
                    border-radius: 2px;
                    position: absolute;
                    transition: 0.25s ease background-color;
                }
            }

            &-selected {
                background-color: transparent;

                .ant-menu-item-text {
                    font-weight: 600;
                    padding-right: 10px;
                    display: inline-block;

                    &:after {
                        visibility: visible;
                        background-color: currentColor;
                    }
                }
            }
        }
    }
}

.ant-dropdown-menu {
    border-radius: 8px;
    box-shadow: 0 1px 10px rgba(119, 125, 155, 0.16);

    &-item {
        &-selected, &:hover {
            background-color: transparent;
            color: rgba(47, 128, 237, 1);
        }
    }
}

.ant-modal {
    width: auto !important;
}

.ant-modal-content {
    border-radius: 10px;

    .ant-modal-body {
        padding: 30px;
        text-align: center;

        .ant-modal-confirm-title {
            font-size: 14px;
        }

        .ant-modal-confirm-body {
            > .anticon {
                display: none;
            }
        }

        .ant-modal-confirm-btns {
            float: none;
            display: flex;
            margin-top: 30px;
            justify-content: space-between;

            > .ant-btn {
                flex-grow: 1;
                height: auto;
                flex-basis: 0;
                font-size: 12px;
                font-weight: 600;
                box-shadow: none;
                padding: 10px 0px;
                text-align: center;
                border-radius: 26px;

                &:nth-child(1) {
                    order: 2;

                    &, &:hover, &:focus {
                        color: rgba(187, 187, 199, 1);
                        border-color: rgba(187, 187, 199, 1);
                    }
                }

                &:nth-child(2) {
                    margin-left: 0;
                    margin-right: 30px;

                    &, &:hover, &:focus {
                        border: 0;
                        color: rgba(255, 255, 255, 1);
                        background: linear-gradient(225deg, #2F80ED, #56CCF2);
                    }
                }
            }
        }
    }
}

.ant-dropdown-link {
    cursor: pointer;
    color: rgba(187, 187, 199, 1);

    &.ant-dropdown-trigger {
        &.ant-dropdown-open {
            color: rgba(47, 128, 237, 1);
        }
    }
}

.ant-time-picker, .ant-calendar-picker {
    width: auto;
    display: inline-block;

    &-input {
        display: none;
    }

    &-icon {
        position: initial;
        display: inline-block;
    }
}

.ant-time-picker-panel, .ant-calendar {
    &-input {
        &-wrap {
            display: none;
        }
    }
}
